<div class="p-grid p-mt-6">
    <div class="p-mb-3 p-col-12">
        <button pButton class="botao-novo" label="Novo" (click)="abrirModalIncluir()">
            <i class="pi pi-plus p-mr-1"></i>
        </button>
    </div>
</div>
<div class="p-grid">

    <div class="card p-col-12">
        <p-table [value]="produtos" [columns]="cols" [rows]="10" [paginator]="true" [totalRecords]="produtos.length"
            [resizableColumns]="true" [autoLayout]="true" [resizableColumns]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>

                    <th *ngFor="let col of columns" [pSortableColumn]="col.sortField">
                        {{col.header}}
                        <p-sortIcon [field]="col.sortField"></p-sortIcon>
                    </th>
                    <th class="width10px">
                        Ações
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">

                    <td>{{item.nome}}</td>
                    <td>{{item.descricao}}</td>
                    <td>{{item.preco | currency: 'BRL'}}</td>
                    <td>{{item.quantidade}}</td>
                    <td class="acoes">
                        <app-menu-acoes-table #menuAcoes [menuAcoes]="menuAcoes" [menuSelected]="menuSelected"
                            (click)="preencheAcoesMenu(item, menuAcoes)" [acoes]="acoesMenu" [data]="item">
                        </app-menu-acoes-table>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="mensagem-vazia" [attr.colspan]="9">Nenhum registro encontrado</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="">
                <div class="p-d-flex p-ai-center">
                    Total de registros: {{produtos ? produtos.length : 0 }}

                </div>
            </ng-template>
        </p-table>
    </div>
    <p-confirmDialog></p-confirmDialog>
</div>